<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> DIAMOND PRICE PREDICTION </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> Carat Size :  <input type="text", name='a', placeholder="enter 1"> <br><br>
            Cut Type (Ideal: 1, Premium: 2, Good: 3, Very Good: 4, Fair: 5):  <input type="text", name='b', placeholder="enter 2"> <br><br>
            Diamond Size :  <input type="text", name='c', placeholder="enter 3"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        
        
    </center>

    </body>
</html>
